<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Scegli le tratte</title>
<style>

div.clearer{
    float: none; clear: left
    }
</style>
</head>
<body>
		<div class="container">
    		<div>
        		<h2>Partenza</h2>
        		 <table>
        		 	<thead>
        		 		<tr>
        		 			<th>Nome</th>
        		 		</tr>
        		 	</thead>
        		 	<tbody>
        		 		<tr th:each="airport : ${airports}">
                                      <td th:text="${airport.getName()}" />
        		 					  <td><a th:href="@{/addDestination{id1}/{id2}(id1=${air.getCode()}, id2=${airport.getCode()})}"><input type="submit" value="Importa rotta">
        		 			</a></td>
        		 		</tr>
        		 	</tbody>
        		 </table> 
    		</div>
    		
	    		<div class=”clearer”> </div>
</div>
<div align="left"><a th:href="@{/homeAdmin}"><input type="submit" value="AGGIUNGI"></a><input></div>
</body>
</html>