<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert Airports</title>
<style>
div.split2 div{
    float: left;
    width: 45%;
    width: 49%;
    width: 45%;
    padding: 0 2%
    }
div.clearer{
    float: none; clear: left
    }
</style>
</head>
<body>
		<div class=”split2″>
    		<div>
        		<h2>Partenza</h2>
        		 <div th:switch="${register.getAirports()}" class="container">
        		 <div th:case="'null'">
        		 	<input type="text" value="Seleziona Partenza" readonly="readonly"></div>
        		 <div th:case="*">
        		 	<input type="text" value="Aggiunta Partenza!" readonly="readonly">
        		 </div>
        		 </div>
        		 <table>
        		 	<thead>
        		 		<tr>
        		 			<th>Nome</th>
        		 		</tr>
        		 	</thead>
        		 	<tbody>
        		 		<tr th:each="airport : ${airports}">
                                      <td th:text="${airport.getName()}" />
        		 					  <td><a th:href="@{/addDeparture{id1}/{id2}(id1=${register.getCode()}, id2=${airport.getCode()})}"><input type="submit" value="Set partenza">
        		 			</a></td>
        		 		</tr>
        		 	</tbody>
        		 </table> 
    		</div>
    		
    		<div>
        	<h2>Destinazione</h2>
        		 <div th:switch="${register.getAirports()}" class="container">
        		 <div th:case="'null'">
        		 	<input type="text" value="Scegli prima la partenza" readonly="readonly"></div>
        		 <div th:case="*">
        		 	<input type="text" value="Aggiunta Destinazione!" readonly="readonly">
        		 </div>
        		 </div>
        		 <table>
        		 	<thead>
        		 		<tr>
        		 			<th>Nome</th>
        		 		</tr>
        		 	</thead>
        		 	<tbody>
        		 		<tr th:each="airport : ${airports}">
                                      <td th:text="${airport.getName()}" />
        		 					  <td><a th:href="@{/addArrival{id1}/{id2}(id1=${register.getCode()}, id2=${airport.getCode()})}"><input type="submit" value="Set Destinazione">
        		 			</a></td>
        		 		</tr>
        		 	</tbody>
        		 </table>
	</div> 
	<div th:switch="${register.getPlane()}" class="container" align="center">
        		 <div th:case="null">
        		 	<input type="text" value="Seleziona Aereo" readonly="readonly"></div>
        		 <div th:case="*">
        		 	<input type="text" value="Aggiunto Aereo!" readonly="readonly">
        		 	
     			</div>
    </div>
    <div align="center">
    	 <table>
        		 	<thead>
        		 		<tr>
        		 			<th>Nome</th>
        		 		</tr>
        		 	</thead>
        		 	<tbody>
        		 		<tr th:each="plane : ${planes}">
                                      <td th:text="${plane.getCode()}" />
        		 					  <td><a th:href="@{/addPlaneOnRoute{id1}/{id2}(id1=${register.getCode()}, id2=${plane.getCode()})}"><input type="submit" value="Set Aereo">
        		 			</a></td>
        		 		</tr>
        		 	</tbody>
        		 </table>
    </div>
			<div class=”clearer”> </div>
</div>
<div align="left"><a th:href="@{/homeAdmin}"><input type="submit" value="AGGIUNGI"></a><input></div>
</body>
</html>