<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>WARNING</title>
</head>
<body>
<div align="center">
<h1>WARNING</h1><br>
hai sbagliato a inserire le credenziali di accesso</div>
<a th:href="@{/}"><input type="submit" value="Torna al Login"></a>
</body>
</html>