<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HOME</title>
<style>
input[type="text"], textarea {

  background-color : #d1d1d1; 

}

input[type="submit"]{

  background-color : #ff0000; 

}
</style>
</head>
<body>
	<div align="right"><a th:href="@{/}"><input type="submit" value="Log in"></a></div>
	<h1 align="center">View Visitatore</h1>
	<div class="container">
	<div align="center">
	<h1>Route</h1>
	</div>
		<div align="center">
			<table>
				<thead>
					<tr>
						<th>Num Registro</th>
						<th>Aereo</th>
						<th>Partenza</th>
						<th>Destinazione</th>
						<th>Partenza-Data</th>
						<th>Partenza-Time</th>
						<th>Arrivo-Data</th>
						<th>Arrivo-Time</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="volo : ${Register}">
						<td th:text="${volo.getCode()}"></td>
						<td><a th:href ="@{/infoplane/{id}(id = ${volo.getPlane().getCode()})}"  th:text=${volo.getPlane().getCode()}></a></td>
						<td th:text="${volo.getAirports().get(0).getName()}"></td>
						<td th:text="${volo.getAirports().get(1).getName()}"></td>
						<td th:text="${volo.getDepartureDate()}"></td>
						<td th:text="${volo.getDepartureTime()}"></td>
						<td th:text="${volo.getArrivalDate()}"></td>
						<td th:text="${volo.getArrivalTime()}"></td>
				</tbody>
				  
			</table>
		</div>
	</div>
	<div class="container" align="center">
	<form th:action="@{/search}" method="get" enctype="multipart/form-data">
	<h2 align="center">SEARCH</h2>
	<input type="text" name="idsearch" value="search..">
	<input type="submit" value="search">
	</form>
	</div>
	
	<div class="conteiner" align="center">
	<a th:href="@{/viewAllAirport}"><input type="submit" value="Vedi tutti gli Aeroporti"></a>
	</div>
</body>
</html>