<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HOME</title>
</head>
<body>

<div>
	<h1 align="center">View Pilot</h1>
	</div>
		<div align="right"><a th:href="@{/}"><input type="submit" value="Log out"></a></div>
	<div class="container">
	<div align="center">
	<h1>Route</h1>
	</div>
		<div align="center">
			<table>
				<thead>
					<tr>
						<th>Num Registro</th>
						<th>Aereo</th>
						<th>Partenza</th>
						<th>Destinazione</th>
						<th>Partenza-Data</th>
						<th>Partenza-Time</th>
						<th>Arrivo-Data</th>
						<th>Arrivo-Time</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="volo : ${Register}">
						<td th:text="${volo.getCode()}"></td>
						<td><a th:href ="@{/infoplane/{id}(id = ${volo.getPlane().getCode()})}"  th:text="${volo.getPlane().getCode()}"></a></td>
						<td th:text="${volo.getAirports().get(0).getName()}"></td>
						<td th:text="${volo.getAirports().get(1).getName()}"></td>
						<td th:text="${volo.getDepartureDate()}"></td>
						<td th:text="${volo.getDepartureTime()}"></td>
						<td th:text="${volo.getArrivalDate()}"></td>
						<td th:text="${volo.getArrivalTime()}"></td>
						<td><a th:href="@{/updateRegister/{id} (id = ${volo.getCode()})}"><input type="submit" value="update"></input></a> </td>
					</tr>
				</tbody>
				  
			</table>
		</div>
	</div>
	<div class="conteiner" align="center">
	</div>
</body>
</html>