<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>HOME</title>
</head>
<body>
	<h1>Login Form</h1>
	
	<form action="#" th:action="@{/Severalhome}" method="post">
	<label for="username">Username</label>
	<input type="text" id="username" name="username" autofocus="autofocus">
	<br/>
	<label for="password">Password</label>
	<input type="password" id="password" name="password">
	<br/>
	<input type="submit" value="Log In"/>
	
	</form>
	<div align="left">
	<a th:href="@{/onlyread}"><input type="button" value="Continua Senza LogIn"></a>
	</div>
</body>
</html>