<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Info Plane</title>
</head>
<body>
	<div align="center">
		<table>
			<thead>
				<tr>
					<th>Codice aereo</th>
					<th>Numero posti</th>
					<th>Tipologia</th>
					<th>Pilota</th>
					<th>Hostess</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aereo : ${plane}">
					<td th:text="${aereo.getCode()}"></td>
					<td th:text="${aereo.getNumberSeats()}"></td>
					<td th:text="${aereo.getType()}"></td>
					<td><a th:href="@{/infoPilot/{id}(id = ${aereo.getCaptains().getId()})}" th:text="${aereo.getCaptains().getName()} +'  '+ ${plane.getCaptains().getLastName()}"></a></td>
					<td th:each="h : ${plane.getHostess()}">
								<span><a th:href="@{/infoHostess/{id}(id= ${h.getId()})}" th:text="${h.getName()}+' '+${h.getLastName()}"></a></span>			
			</tbody>
		</table>
		<a th:href="@{/updatePlane/{id}(id = ${plane.getCode()})}"><input type="submit" value="update"></a>
		<br>
		<a th:href="@{/homeAdmin}"><input type="submit" value="torna alla home"></a>
	</div>
</body>
</html>


