<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Info Hostess</title>
</head>
<body>
		<div class="container">
			<div align="center">
				<h1>Info Hostess</h1>
			</div>
			<div align="center">
				<table>
					<thead>
						<tr>
							<th>Nome</th>
							<th>Cognome</th>
							<th>Nazionalita'</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="assistentivolo:${hostess}">
							<td th:text="${assistentivolo.getName()}"></td>
							<td th:text="${assistentivolo.getLastName()}"></td>
							<td th:text="${assistentivolo.getNationality()}"></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>

</body>
</html>