<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Info Plane</title>
</head>
<body>
	<div align="center">
		<table>
			<thead>
				<tr>
					<th>Codice aereo</th>
					<th>Numero posti</th>
					<th>Tipologia</th>
					<th>Pilota</th>
					<th>Hostess</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${plane.getCode()}"></td>
					<td th:text="${plane.getNumberSeats()}"></td>
					<td th:text="${plane.getType()}"></td>
					<td><a th:href="@{/infoPilot/{id}(id = ${plane.getCaptains().getId()})}" th:text="${plane.getCaptains().getName()} +'  '+ ${plane.getCaptains().getLastName()}"></a></td>
					<td th:each="h : ${plane.getHostess()}">
								<span><a th:href="@{/infoHostess/{id}(id= ${h.getId()})}" th:text="${h.getName()}+' '+${h.getLastName()}"></a></span>			
			</tbody>
		</table>
		<div>
		<a th:href="@{/onlyread}"><input type="submit" value="torna alla home"></a>
		</div>
	</div>
</body>
</html>


