<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Info Pilot</title>
</head>
<body>

		
		<div class="container">
			<div align="center">
				<h1>Info Piloti</h1>
			</div>
			<div align="center">
				<table>
					<thead>
						<tr>
							<th>Nome</th>
							<th>Cognome</th>
							<th>Nazionalita'</th>
							<th>Anni in servizio</th>
							<th>Tipologia aereo</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="pilota : ${pilot}">
							<td th:text="${pilota.getName()}"></td>
							<td th:text="${pilota.getLastName()}"></td>
							<td th:text="${pilota.getNationality()}"></td>
							<td th:text="${pilota.getYearsService()}"></td>
							<td th:text="${pilota.getTypeAircraft()}"></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>

</body>
</html>