<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Result Search</title>
</head>
<body>
	<div class="container" align="center">
		<h3>Result search</h3>
		
		<div th:switch="${#lists.size(airportsname)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="an : ${airportsname}">
						<td><a th:href ="@{/infoairport/{id}(id = ${an.getCode()})}"  th:text="${an.getName()}"></a></td>
						<td>Nome</td>
						<td th:text="${an.getClass()}"></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(airportscity)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="ac : ${airportscity}">
						<td th:text="${ac.getCity()}"></td>
						<td>City</td>
						<td th:text="${ac.getClass()}"></td>
						<td><a th:href ="@{/infoairport/{id}(id = ${ac.getCode()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(airportsnation)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="an : ${airportsnation}">
						<td th:text="${an.getNation()}"></td>
						<td>Nation</td>
						<td th:text="${an.getClass()}"></td>
						<td><a th:href ="@{/infoairport/{id}(id = ${an.getCode()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(hostessesname)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="hn : ${hostessesname}">
						<td th:text="${hn.getName()}"></td>
						<td>Nome</td>
						<td th:text="${hn.getClass()}"></td>
						<td><a th:href ="@{/infohostess/{id}(id = ${hn.getId()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(hostesseslastname)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="hln : ${hostesseslastname}">
						<td th:text="${hln.getLastName()}"></td>
						<td>Cognome</td>
						<td th:text="${hln.getClass()}"></td>
						<td><a th:href ="@{/infohostess/{id}(id = ${hln.getId()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
	
	<div th:switch="${#lists.size(hostessesnationality)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="hn : ${hostessesnationality}">
						<td th:text="${hn.getNationality()}"></td>
						<td>NazionalitÓ</td>
						<td th:text="${hn.getClass()}"></td>
						<td><a th:href ="@{/infohostess/{id}(id = ${hn.getId()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(pilotname)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${pilotname}">
						<td th:text="${p.getName()}"></td>
						<td>Nome</td>
						<td th:text="${p.getClass()}"></td>
						<td><a th:href ="@{/infopilot/{id}(id = ${p.getId()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
	
	<div th:switch="${#lists.size(pilotlastname)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${pilotlastname}">
						<td th:text="${p.getLastName()}"></td>
						<td>Cognome</td>
						<td th:text="${p.getClass()}"></td>
						<td><a th:href ="@{/infopilot/{id}(id = ${p.getId()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(pilotnationality)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${pilotnationality}">
						<td th:text="${p.getNationality()}"></td>
						<td>NazionalitÓ</td>
						<td th:text="${p.getClass()}"></td>
						<td><a th:href ="@{/infopilot/{id}(id = ${p.getId()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(pilotyearservice)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${pilotyearservice}">
						<td th:text="${p.getYearsService()}"></td>
						<td>Anni di servizio</td>
						<td th:text="${p.getClass()}"></td>
						<td><a th:href ="@{/infopilot/{id}(id = ${p.getId()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(pilottype)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${pilottype}">
						<td th:text="${p.getTypeAircraft()}"></td>
						<td>Tipologia di aereo che pilota</td>
						<td th:text="${p.getClass()}"></td>
						<td><a th:href ="@{/infopilot/{id}(id = ${p.getId()})}"><input type="submit" value="mostra"></a></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(planetype)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pl : ${planetype}">
						<td th:text="${pl.getType()}"></td>
						<td>Tipologia di Aereo</td>
						<td th:text="${pl.getClass()}"></td>
						<td><a th:href ="@{/infoplane/{id}(id = ${pl.getCode()})}" ><input type="submit" value="mostra"></a> </td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
	<div th:switch="${#lists.size(planenumseat)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pl : ${planenumseat}">
						<td th:text="${pl.getNumberSeats()}"></td>
						<td>Numero di posti</td>
						<td th:text="${pl.getClass()}"></td>
						<td><a th:href ="@{/infoplane/{id}(id = ${pl.getCode()})}" ><input type="submit" value="mostra"></a> </td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
	<div th:switch="${#lists.size(registerddate)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Codice registro</th>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r : ${registerddate}">
						<td><a th:href ="@{/home}" th:text="${r.getCode()}"></a></td>
						<td th:text="${r.getDepartureDate()}"></td>
						<td>Data Partenza</td>
						<td th:text="${r.getClass()}"></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(registerdtime)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Codice registro</th>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r : ${registerdtime}">
						<td><a th:href ="@{/home}" th:text="${r.getCode()}"></a></td>
						<td th:text="${r.getDepartureTime()}"></td>
						<td>Orario Partenza</td>
						<td th:text="${r.getClass()}"></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
	
		<div th:switch="${#lists.size(registeradate)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Codice registro</th>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r : ${registeradate}">
						<td><a th:href ="@{/home}" th:text="${r.getCode()}"></a></td>
						<td th:text="${r.getArrivalDate()}"></td>
						<td>Data Arrivo</td>
						<td th:text="${r.getClass()}"></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
		
		<div th:switch="${#lists.size(registeratime)}">
		<div th:case="'0'"></div>
			<div th:case="*">
				<table>
				<thead>
					<tr>
						<th>Codice registro</th>
						<th>Valore</th>
						<th>Attributo</th>
						<th>Classe</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="r : ${registeratime}">
						<td><a th:href ="@{/home}" th:text="${r.getCode()}"></a></td>
						<td th:text="${r.getArrivalTime()}"></td>
						<td>Orario Destinazione</td>
						<td th:text="${r.getClass()}"></td>
					</tr>
				</tbody>  
			</table>
			</div>
		</div>
	
	
	
	<div align="center">
	<a th:href="@{/onlyread}"><input type="submit" value="Torna alla Home"></a></div>
	
	
	
	
	
	</div>
</body>
</html>