<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Scegli le hostess</title>
<style>

div.clearer{
    float: none; clear: left
    }
</style>
</head>
<body>
		<div class="container" align="center">
    		<div>
        		 <table>
					<thead>
						<tr>
							<th>Nome</th>
							<th>Cognome</th>
							<th>Nazionalita'</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="h:${hostess}">
							<td th:text="${h.getName()}"></td>
							<td th:text="${h.getLastName()}"></td>
							<td th:text="${h.getNationality()}"></td>
							<td><a th:href="@{/addHostesOnPlane/{id1}/{id2}(id1=${plane.getCode()}, id2=${h.getId()})}"><input type="submit" value="Assegna/Elimina hostess"></a></td>
						</tr>
					</tbody>
        		 					  
        		 	</table>	
    		</div>
		<h1>hostess attuali</h1>
<table>
					<thead>
						<tr>
							<th>Nome</th>
							<th>Cognome</th>
							<th>Nazionalita'</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="h1:${plane.getHostess()}">
							<td th:text="${h1.getName()}"></td>
							<td th:text="${h1.getLastName()}"></td>
							<td th:text="${h1.getNationality()}"></td>
							<!-- <td><a th:href="@{/addHostesOnPlane/{id1}/{id2}(id1=${plane.getCode()}, id2=${h.getId()})}"><input type="submit" value="Assegna hostess"></a></td> -->
						</tr>
					</tbody>
        		 					  
        		 	</table>	
	    		<div class=”clearer”> </div>
</div>
 <div align="left"><a th:href="@{/updatePlane/{id}(id=${plane.getCode()})}"><input type="submit" value="FATTO"></a><input></div>
<!-- 	<div align="left"><a th:href="@{/homeAdmin}"><input type="submit" value="AGGIUNGI"></a><input></div>-->
</body>
</html>