<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Update Plane</title>
<meta charset="ISO-8859-1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style class="anchorjs"></style>
<link
	href="/bootstrap-italia/dist/css/bootstrap-italia.min.css?201910210959"
	rel="stylesheet">

<link
	href="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.2/dist/cdn/docsearch.min.css"
	rel="stylesheet">
<link
	href="/bootstrap-italia/docs/assets/dist/css/docs.min.css?201910210959"
	rel="stylesheet">



</head>
<body>

	<div class="container" align="center">
		<form th:action="@{/updatePlane/{id}(id=${plane.getCode()})}" method="post" enctype="multipart/form-data">
			<div class="form-gruop">
				<label>Codice</label> <input type="text" readonly="readonly"
					id="code" th:value="${plane.getCode()}" name="code">
			</div>
			<div class="form-gruop">
				<label>Tipologia</label> <input type="text" 
					id="type" th:value="${plane.getType()}" name="type">
			</div>
			<div class="form-group">
				<label>Numero posti</label> <input type="text" 
					id="numberseats" th:value="${plane.getNumberSeats()}"
					name="numberseats">
			</div>
			<div class="form-group">
				<label>Pilota</label> 
				<input type="text" th:value="${plane.getCaptains().getName()}+' '+ ${plane.getCaptains().getLastName()}" id="pilot" name="captain-name">
					<a th:href="@{/updatePlanePilot/{id1}(id1=${plane.getCode()})}">
					<input type="button" value="Cambia Pilota"></a>
			</div>
			
			<div class="form-gruop">
				<table>
			<thead>
				<tr><th>Hostess</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="h : ${plane.getHostess()}">
					<td th:text="${h.getName()}+' '+${h.getLastName()}"></td>
			</tbody>
		</table>
					<a th:href="@{/updatePlaneHostess/{id1}(id1=${plane.getCode()})}">
					<input type="button" value="Cambia Hostess"></a>
			</div>
			<div>
				<input type="submit" value="Update"></input>
			</div>

		</form>
	</div>
</body>

</html>









