<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cambia Pilota</title>
</head>
<body>
<div class="container" align="center">
	<h2>Cambia Pilota</h2>
        		 <table>
        		 	<thead>
        		 		<tr>
        		 			<th>Nome</th>
        		 			<th>Cognome</th>
        		 			<th>Nazionalita'</th>
        		 			<th>Anni servizio</th>
        		 			<th>Esperienza</th>
        		 		</tr>
        		 	</thead>
        		 	<tbody>
        		 		<tr th:each="pilot : ${pilots}">
        		 					  <td th:text="${pilot.getName()}"></td>
                                      <td th:text="${pilot.getLastName()}"></td>
									  <td th:text="${pilot.getNationality()}"></td>
									  <td th:text="${pilot.getYearsService()}"></td>
									  <td th:text="${pilot.getTypeAircraft()}"></td>
        		 					  <td><a th:href="@{/updatePilotOnPlane/{id1}/{id2}(id1=${plane.getCode()},id2=${pilot.getId()})}"><input type="submit" value="Set nuovo Pilota">
        		 			</a></td>
        		 		</tr>
        		 	</tbody>
        		 </table>
      </div>
</body>
</html>