<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cambia hostess</title>
</head>
<body>

<div class="container" align="center">
	<h2>Cambio Hostess</h2>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="hs : ${Hostess}">
						<td th:text="$hs.getName()}" />
						<td th:text="${hs.getLastName()}" />
					<td><a th:href= "@{/updateHostess/{id1}(id1=${plane.getCode()})}">
					<input type="submit" value="Set nuove Hostess">	
					</a></td>
        		 		</tr>	
			</tbody>
				
		</table>
  </div>	
</body>