<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Update Register</title>
<meta charset="ISO-8859-1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style class="anchorjs"></style>
<link
	href="/bootstrap-italia/dist/css/bootstrap-italia.min.css?201910210959"
	rel="stylesheet">

<link
	href="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.2/dist/cdn/docsearch.min.css"
	rel="stylesheet">
<link
	href="/bootstrap-italia/docs/assets/dist/css/docs.min.css?201910210959"
	rel="stylesheet">



</head>
<body>

	<div class="container" align="center">
		<form th:action="@{/UpdateRegister/{id}(id=${Register.getCode()})}" method="post" enctype="multipart/form-data">
			<div class="form-gruop">
				<label>Aereo</label> <input type="text"  readonly="readonly" id="code"
					th:value="${Register.getPlane().getCode()}" name="code">
			</div>
		
			<div class="form-gruop">
				<label>Partenza</label> <input type="text" readonly="readonly" id="partenza"
					th:value="${Register.getAirports().get(0).getName()}" name="partenza">
			</div>
			<div class="form-group">
				<label>Destinazione</label> 
				<input type="text" id="destinazione"
					th:value="${Register.getAirports().get(1).getName()}"  readonly="readonly" name="destinazione">
					<a th:href="@{/updateRegisterAirports/{id1}(id1=${Register.getCode()})}">
					<input type="button" value="Cambia Destinazione"></a>
			</div>
			
			<div class="form-group">
				<label>Data Partenza</label> <input type="date" id="dataPartenza"
				th:value="${Register.getDepartureDate()}" name="dataPartenza" placeholder="Departure Date">
			</div>
			<div class="form-group">
				<label>Orario Partenza</label> <input type="time" id="orarioPartenza"
				th:value="${Register.getDepartureTime()}" name="orarioPartenza" placeholder="Arrival Time">
			</div>
			
			
			<div class="form-group">
				<label>Data Arrivo</label> <input type="date" id="dataArrivo"
				th:value="${Register.getArrivalDate()}" name="dataArrivo" placeholder="Arrival Date">
			</div>
			
			<div class="form-group">
				<label>Orario Arrivo</label> <input type="time" id="orarioArrivo"
				th:value="${Register.getArrivalTime()}" name="orarioArrivo" placeholder="Arrival Time">
			</div>
			
			<div>
				<input type="submit" value="Update">
			</div>

		</form>
	</div>
</body>

</html>







