<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cambia Destinazione</title>
</head>
<body>
<div class="container" align="center">
	<h2>Cambio Destinazione</h2>
        		 <table>
        		 	<thead>
        		 		<tr>
        		 			<th>Nome</th>
        		 		</tr>
        		 	</thead>
        		 	<tbody>
        		 		<tr th:each="airport : ${Airports}">
                                      <td th:text="${airport.getName()}" />
        		 					  <td><a th:href="@{/updateArrivalAdmin/{id1}/{id2}(id1=${register.getCode()},id2=${airport.getCode()})}"><input type="submit" value="Set nuova Destinazione">
        		 			</a></td>
        		 		</tr>
        		 	</tbody>
        		 </table>
      </div>
</body>
</html>