<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cambia pilota</title>
</head>
<body>

<div class="container" align="center">
	<h2>Cambio Pilota</h2>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="pilota : ${Pilot}">
						<td th:text="${pilota.getName()}" />
						<td th:text="${pilota.getLastName()}" />
					<td><a th:href= "@{/updatePilot/{id1}(id1=${plane.getCode()})}">
					<input type="submit" value="Set nuovo Pilota">	
					</a></td>
        		 		</tr>	
			</tbody>
				
		</table>
  </div>	
</body>

</html>
