<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Info Airport</title>
</head>
<body>
	<div align="center">
		<table>
			<thead>
				<tr>
					<th>Codice Aeroporto</th>
					<th>Nome</th>
					<th>Citta'</th>
					<th>Nazione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="airport : ${airports}">
					<td th:text="${airport.getCode()}"></td>
					<td th:text="${airport.getName()}"></td>
					<td th:text="${airport.getCity()}"></td>
					<td th:text="${airport.getNation()}"></td>
			</tbody>
		</table>
		<div>
		<a th:href="@{/onlyread}"><input type="submit" value="torna alla home"></a>
		</div>
	</div>
</body>
</html>


